html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body {
    background-image: url('https://th.bing.com/th/id/R.f6f71e6d4dba067aa24e69e0115e7f18?rik=S1aYYH1odIyH3Q&pid=ImgRaw&r=0');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
}

#contenedor {
    background-color: white;
    border-radius: 7px;
    padding: 25px;
}