.pricing .box {
    padding: 20px;
    background: #f9f9f9;
    text-align: center;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    border: 1px solid #f9f9f9;
}

    .pricing .box h3 {
        font-weight: 400;
        padding: 15px;
        margin-top: 15px;
        font-size: 18px;
        font-weight: 600;
        color: #353535;
    }

    .pricing .box h4 {
        font-size: 42px;
        color: #ffbdf4;
        font-weight: 500;
        font-family: "Open Sans", sans-serif;
        margin-bottom: 20px;
    }

        .pricing .box h4 sup {
            font-size: 20px;
            top: -15px;
            left: -3px;
        }

        .pricing .box h4 span {
            color: #bababa;
            font-size: 16px;
            font-weight: 300;
        }

    .pricing .box ul {
        padding: 0;
        list-style: none;
        color: #353535;
        text-align: center;
        line-height: 20px;
        font-size: 14px;
    }

        .pricing .box ul li {
            padding-bottom: 16px;
        }

        .pricing .box ul i {
            color: #ffc7f6;
            font-size: 18px;
            padding-right: 4px;
        }

        .pricing .box ul .na {
            color: #ccc;
            text-decoration: line-through;
        }

    .pricing .box .btn-wrap {
        padding: 15px;
        text-align: center;
    }

    .pricing .box .btn-buy {
        display: inline-block;
        padding: 10px 40px 12px 40px;
        border-radius: 50px;
        border: 2px solid #f9f9f9;
        color: #000000;
        font-size: 14px;
        font-weight: 400;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        transition: 0.3s;
    }

        .pricing .box .btn-buy:hover {
            background: #ffbdf4;
            color: #fff;
        }

.pricing .recommended {
    border-color: #ffdbf9;
}

    .pricing .recommended .btn-buy {
        background: #ffbdf4;
        color: #fff;
    }

        .pricing .recommended .btn-buy:hover {
            background: #ffbdf4;
            border-color: #ffbdf4;
        }

.pricing .recommended-badge {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-size: 13px;
    padding: 3px 25px 6px 25px;
    background: #ffbdf4;
    color: #fff;
    border-radius: 0 0 25px 25px;
}
