@{
    ViewData["Title"] = "Home Page";
}

<main class="container-fluid">
    @await Html.PartialAsync("_Hero")
    @await Html.PartialAsync("_Counts")
    @await Html.PartialAsync("_Carrusel")
    @await Html.PartialAsync("_Leaderboard")
    @await Html.PartialAsync("_ArtistasMomento")
    @await Html.PartialAsync("_Subscription")
    @await Html.PartialAsync("_FAQ")
</main>