
    @{
        ViewData["Title"] = "Home Page";
    }

<h1>Home</h1>

    <div class="text-center">
        <h1 style="color: white">music-webpage-04</h1>
        <a><h4 style="color:white">https://github.com/rvmu-rvmu/webpage-music-04.git</h4></a>
    </div>