@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section style="background-color: rgb(255, 255, 255);" class="carr">
    <div id="carouselExample" class="carousel slide container" data-bs-ride="carousel">
        <div class="section-title" data-aos="zoom-in">
            <h2>+ Escuchado Hoy</h2> <p id="dateDisplay"></p>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="col-md-2">
                    <img class="img-fluid" src="https://charts-static.billboard.com/img/2024/02/bensonboone-a8a-beautifulthings-nmb-344x344.jpg">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Beautiful Thing <img class="img-fluid rounded-circle" src="https://th.bing.com/th/id/R.e8ec6e018f9f2a7e2f0fbffd8bdd330b?rik=XvvfzFHWU1Gh7g&pid=ImgRaw&r=0" 16" width="16"></b><br>Benson Boone</li>
                    </ul>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="col-md-2">
                    <img class="img-fluid" src="https://charts-static.billboard.com/img/2023/07/teddyswims-vot-losecontrol-zkp-344x344.jpg">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Lose Control <img class="img-fluid rounded-circle" src="https://th.bing.com/th/id/R.e8ec6e018f9f2a7e2f0fbffd8bdd330b?rik=XvvfzFHWU1Gh7g&pid=ImgRaw&r=0" 16" width="16"></b><br>Teddy Swims</li>
                    </ul>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="col-md-2">
                    <img class="img-fluid" src="https://charts-static.billboard.com/img/2023/09/tatemcrae-rxu-greedy-way-344x344.jpg">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Greedy <img class="img-fluid rounded-circle" src="https://th.bing.com/th/id/R.e8ec6e018f9f2a7e2f0fbffd8bdd330b?rik=XvvfzFHWU1Gh7g&pid=ImgRaw&r=0" 16" width="16"></b><br>Tate McRae</li>
                    </ul>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="col-md-2">
                    <img class="img-fluid" src="https://charts-static.billboard.com/img/2022/10/djo-87t-180x180.jpg" height="344" width="344">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>End of Beggining</b><br>Djo</li>
                    </ul>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="col-md-2">
                    <img class="img-fluid" src="https://charts-static.billboard.com/img/2024/02/beyonce-0na-texasholdem-gcd-344x344.jpg">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Texas Hold'em <img class="img-fluid rounded-circle" src="https://th.bing.com/th/id/R.e8ec6e018f9f2a7e2f0fbffd8bdd330b?rik=XvvfzFHWU1Gh7g&pid=ImgRaw&r=0" 16" width="16"></b><br>Beyonce</li>
                    </ul>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="col-md-2">
                    <img class="img-fluid" src="https://charts-static.billboard.com/img/2019/09/taylor-swift-9sy-cruelsummer-1kv-180x180.jpg" height="344" width="344">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Cruel Summer</b><br>Taylor Swift</li>
                    </ul>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="col-md-2">
                    <img class="img-fluid" src="https://charts-static.billboard.com/img/2024/02/kanye-west-0wf-carnival-1ue-344x344.jpg">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Carnival <img class="img-fluid rounded-circle" src="https://th.bing.com/th/id/R.e8ec6e018f9f2a7e2f0fbffd8bdd330b?rik=XvvfzFHWU1Gh7g&pid=ImgRaw&r=0" 16" width="16"></b><br>¥$: Kanye West Ty Dolla</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
</section>
