<section id="counts" class="counts">
    <div style="background-color: black; color:white">
        <div class="container">
            <div class="row counters">
                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.ArtistasCount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Artistas</p>
                </div>
                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.CancionesCount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Canciones</p>
                </div>
                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.MinutosMusicaCount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Minutos de Música</p>
                </div>
                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Sola Cuenta</p>
                </div>
            </div>
        </div>
    </div>
</section>