@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section>
    <div class="container">
        <div class="section-title" data-aos="zoom-in">
            <h2>+ Escuchado Esta Semana</h2>
            <p>TOP 20 canciones más reproducidas esta semana</p>
        </div>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Leaderboard</th>
                    <th scope="col">Canción</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Peak</th>
                    <th scope="col">Semanas</th>
                    <th scope="col">Año</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1<img class="img-fluid rounded-circle" src="https://th.bing.com/th/id/R.e8ec6e018f9f2a7e2f0fbffd8bdd330b?rik=XvvfzFHWU1Gh7g&pid=ImgRaw&r=0" 16" width="16"></th>
                    <td>Lore Impsum</td>
                    <td><img class="img-fluid rounded-circle" src="https://charts-static.billboard.com/img/2024/02/bensonboone-a8a-beautifulthings-nmb-344x344.jpg" height="16" width="16"> Benson Boone</td>
                    <td>1</td>
                    <td>4</td>
                    <td>2024</td>
                <tr>
                    <th scope="row">2<img class="img-fluid rounded-circle" src="https://th.bing.com/th/id/R.e8ec6e018f9f2a7e2f0fbffd8bdd330b?rik=XvvfzFHWU1Gh7g&pid=ImgRaw&r=0" 16" width="16"></th>
                    <td>Lore Impsum</td>
                    <td><img class="img-fluid rounded-circle" src="https://i.ibb.co/fpXZnY5/foto.png" height="16" width="16"> Kanye West</td>
                    <td>1</td>
                    <td>4</td>
                    <td>2024</td>
                </tr>
                <tr>
                    <th scope="row">3<img class="img-fluid rounded-circle" src="https://th.bing.com/th/id/R.e8ec6e018f9f2a7e2f0fbffd8bdd330b?rik=XvvfzFHWU1Gh7g&pid=ImgRaw&r=0" 16" width="16"></th>
                    <td>Lore Impsum</td>
                    <td><img class="img-fluid rounded-circle" src="https://i.ibb.co/fpXZnY5/foto.png" height="16" width="16"> Beyonce</td>
                    <td>2</td>
                    <td>5</td>
                    <td>2024</td>
                </tr>
                <tr>
                    <th scope="row">4<img class="img-fluid rounded-circle" src="https://th.bing.com/th/id/R.e8ec6e018f9f2a7e2f0fbffd8bdd330b?rik=XvvfzFHWU1Gh7g&pid=ImgRaw&r=0" 16" width="16"></th>
                    <td>Lore Impsum</td>
                    <td><img class="img-fluid rounded-circle" src="https://i.ibb.co/fpXZnY5/foto.png" height="16" width="16"> Teddy Swims</td>
                    <td>4</td>
                    <td>5</td>
                    <td>2024</td>
                </tr>
                <tr>
                    <th scope="row">5<img class="img-fluid rounded-circle" src="https://th.bing.com/th/id/R.e8ec6e018f9f2a7e2f0fbffd8bdd330b?rik=XvvfzFHWU1Gh7g&pid=ImgRaw&r=0" 16" width="16"></th>
                    <td>Lore Impsum</td>
                    <td><img class="img-fluid rounded-circle" src="https://i.ibb.co/fpXZnY5/foto.png" height="16" width="16"> Tate McRae</td>
                    <td>6</td>
                    <td>5</td>
                    <td>2024</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Lore Impsum</td>
                    <td><img class="img-fluid rounded-circle" src="https://i.ibb.co/fpXZnY5/foto.png" height="16" width="16"> Djo</td>
                    <td>9</td>
                    <td>6</td>
                    <td>2022</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Lore Impsum</td>
                    <td><img class="img-fluid rounded-circle" src="https://i.ibb.co/fpXZnY5/foto.png" height="16" width="16"> Taylor Swift</td>
                    <td>1</td>
                    <td>32</td>
                    <td>2023</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Lore Impsum</td>
                    <td><img class="img-fluid rounded-circle" src="https://i.ibb.co/fpXZnY5/foto.png" height="16" width="16"> Noah Kahan</td>
                    <td>3</td>
                    <td>4</td>
                    <td>2024</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>Lore Impsum</td>
                    <td><img class="img-fluid rounded-circle" src="https://i.ibb.co/fpXZnY5/foto.png" height="16" width="16"> 21 Savage</td>
                    <td>5</td>
                    <td>12</td>
                    <td>2024</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>Lore Impsum</td>
                    <td><img class="img-fluid rounded-circle" src="https://i.ibb.co/fpXZnY5/foto.png" height="16" width="16"> Jack Harlow</td>
                    <td>11</td>
                    <td>10</td>
                    <td>2024</td>
                </tr>
                <tr>
                    <th scope="row">11</th>
                    <td>Lore Impsum</td>
                    <td><img class="img-fluid rounded-circle" src="https://i.ibb.co/fpXZnY5/foto.png" height="16" width="16"> Xavi</td>
                    <td>12</td>
                    <td>8</td>
                    <td>2024</td>
                </tr>
                <tr>
                    <th scope="row">12</th>
                    <td>Lore Impsum</td>
                    <td><img class="img-fluid rounded-circle" src="https://i.ibb.co/fpXZnY5/foto.png" height="16" width="16"> SZA</td>
                    <td>13</td>
                    <td>11</td>
                    <td>2023</td>
                </tr>
                <tr>
                    <th scope="row">13</th>
                    <td>Lore Impsum</td>
                    <td><img class="img-fluid rounded-circle" src="https://i.ibb.co/fpXZnY5/foto.png" height="16" width="16"> YG Marley</td>
                    <td>12</td>
                    <td>32</td>
                    <td>2024</td>
                </tr>
                <tr>
                    <th scope="row">14</th>
                    <td>Lore Impsum</td>
                    <td><img class="img-fluid rounded-circle" src="https://i.ibb.co/fpXZnY5/foto.png" height="16" width="16"> Miley Cyrus</td>
                    <td>13</td>
                    <td>6</td>
                    <td>2023</td>
                </tr>
                <tr>
                    <th scope="row">15</th>
                    <td>Lore Impsum</td>
                    <td><img class="img-fluid rounded-circle" src="https://i.ibb.co/fpXZnY5/foto.png" height="16" width="16"> The Weekend</td>
                    <td>7</td>
                    <td>54</td>
                    <td>2023</td>
                </tr>
                <tr>
                    <th scope="row">16</th>
                    <td>Lore Impsum</td>
                    <td><img class="img-fluid rounded-circle" src="https://i.ibb.co/fpXZnY5/foto.png" height="16" width="16"> Dua Lipa</td>
                    <td>5</td>
                    <td>40</td>
                    <td>2023</td>
                </tr>
                <tr>
                    <th scope="row">17</th>
                    <td>Lore Impsum</td>
                    <td><img class="img-fluid rounded-circle" src="https://i.ibb.co/fpXZnY5/foto.png" height="16" width="16"> Ariana Grande</td>
                    <td>8</td>
                    <td>4</td>
                    <td>2023</td>
                </tr>
                <tr>
                    <th scope="row">18</th>
                    <td>Lore Impsum</td>
                    <td><img class="img-fluid rounded-circle" src="https://i.ibb.co/fpXZnY5/foto.png" height="16" width="16"> Zach Bryan</td>
                    <td>7</td>
                    <td>15</td>
                    <td>2022</td>
                </tr>
                <tr>
                    <th scope="row">19</th>
                    <td>Lore Impsum</td>
                    <td><img class="img-fluid rounded-circle" src="https://i.ibb.co/fpXZnY5/foto.png" height="16" width="16"> Freid</td>
                    <td>10</td>
                    <td>16</td>
                    <td>2022</td>
                </tr>
                <tr>
                    <th scope="row">20</th>
                    <td>Lore Impsum</td>
                    <td><img class="img-fluid rounded-circle" src="https://i.ibb.co/fpXZnY5/foto.png" height="16" width="16"> Tyla</td>
                    <td>12</td>
                    <td>36</td>
                    <td>2021</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>