@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section id="services" class="services">
    <div class="container">
        <div class="section-title" data-aos="zoom-in">
            <h2>Artistas del momento 💣</h2>
            <p>Los artistas que lo están petando en estos momentos</p>
        </div>
    <div class="row">
        <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box" data-aos="zoom-in">
                <img class="img-fluid col-lg-8 rounded-circle" src="https://charts-static.billboard.com/img/2024/02/bensonboone-a8a-beautifulthings-nmb-344x344.jpg" height="300" width="300">
                <h4><a href="">Benson Boone</a></h4>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 d-flex align-items-center mt-4 mt-md-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                <img class="img-fluid col-lg-8 rounded-circle" src="https://charts-static.billboard.com/img/2024/02/beyonce-0na-texasholdem-gcd-344x344.jpg" height="300" width="300">
                <h4><a href="">Beyonce</a></h4>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 d-flex align-items-center mt-4 mt-lg-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                <img class="img-fluid col-lg-8 rounded-circle" src="https://charts-static.billboard.com/img/2023/07/teddyswims-vot-losecontrol-zkp-344x344.jpg" height="300" width="300">
                <h4><a href="">Teddy Swims</a></h4>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 d-flex align-items-center mt-4 mt-md-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                <img class="img-fluid col-lg-8 rounded-circle" src="https://charts-static.billboard.com/img/2023/09/tatemcrae-rxu-greedy-way-344x344.jpg" height="300" width="300">
                <h4><a href="">Tate McRae</a></h4>
            </div>
        </div>
    </div>
    </div>
</section>