@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section id="hero">
    <div class="hero-container2">
        <div>
            <h1>‎</h1>
            <h1>‎ ‎ ‎ ‎ ‎ ‎ Prueba Hiberify Premium gratis</h1>
            <h1 style="font-size:45px">‎ ‎ ‎ ‎ ‎ ‎ por cuatro meses y disfruta</h1>
            <h1 style="font-size:40px">‎ ‎ ‎ ‎ ‎ ‎ de las canciones de tus</h1>
            <h1 style="font-size:40px">‎ ‎ ‎ ‎ ‎ ‎ artistas favoritos.</h1>
        </div>
    </div>
    <div class="hero-container" data-aos="fade-up">
        <h1 id="compacto">hiberify</h1>
        <h2>Tú sólo escucha</h2>
        <a href="" class="btn-get-started scrollto">Quiero ser <b>Premium</b></a>
    </div>
</section>

<section id="counts" class="counts">
    <div style="background-color: black; color:white">
        <div class="container">
            <div class="row counters">
                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="150000" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Artistas</p>
                </div>
                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="2250000" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Canciones</p>
                </div>
                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="75000000" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Minutos de Música</p>
                </div>
                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Sola Cuenta</p>
                </div>
            </div>
        </div>
    </div>
</section>
