@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section id="hero">
    <div class="hero-container" data-aos="fade-up">
        <div class="gif-carousel">
            <div class="gif" style="background-image: url('https://media.tenor.com/AET7aeIhZuIAAAAC/crowd-strobe-light.gif');"></div>
            <div class="gif" style="background-image: url('https://i.pinimg.com/originals/8d/32/4d/8d324dd8233f0ceb7130b454b5b308e3.gif');"></div>
            <div class="gif" style="background-image: url('https://media.giphy.com/media/DnYUmcgjG3yyk/giphy.gif');"></div>
            <div class="gif" style="background-image: url('https://media.giphy.com/media/d4aoJeHlN5OSs/giphy.gif');"></div>
            <div class="gif" style="background-image: url('https://www.marketingdirecto.com/wp-content/uploads/2015/01/5.gif');"></div>
            <div class="gif" style="background-image: url('https://i.gifer.com/Db2T.gif');"></div>
        </div>
    </div>
    <h1 id="compacto" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">hiberify</h1>
    <h2 style="position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%);">Tú sólo escucha</h2>
    <a href="" class="btn-get-started scrollto" style="position: absolute; top: 70%; left: 50%; transform: translate(-50%, -50%);">Quiero ser <b>Premium</b></a>
</section>

<section id="counts" class="counts">
    <div style="background-color: black; color:white">
        <div class="container">
            <div class="row counters">
                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="150000" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Artistas</p>
                </div>
                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="2250000" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Canciones</p>
                </div>
                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="75000000" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Minutos de Música</p>
                </div>
                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Sola Cuenta</p>
                </div>
            </div>
        </div>
    </div>
</section>
