<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Hiberify</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home/a.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home/cards.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home/carrousel.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home/hero.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home/section.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home/counts.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home/faq.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home/pricing.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home/breadcrumbs.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
</head>
    <body>
    <header>
        @await Html.PartialAsync("_Nav")
    </header>

    <div class="container-fluid p-0">
        <main role="main">
            @RenderBody()
        </main>
    </div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
@await Html.PartialAsync("_Footer")
</body>
</html>

