@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between">
        <div class="logo">
            <h1 class="text-light"><img src="https://i.ibb.co/dB5Xx1c/hiberus-vector.png" class="testimonial-img"><a asp-area="" asp-controller="Home" asp-action="Index">hiberify</a></h1>
        </div>
        <nav id="navbar" class="navbar d-flex">
            <ul>
                <li><a class="nav-link scrollto" href="#hero"><b>Hazte Premium</b></a></li>
                <li><a class="nav-link scrollto" asp-area="" asp-controller="Canciones" asp-action="Index">Canciones</a></li>
                <li><a class="nav-link scrollto" asp-area="" asp-controller="Artistas" asp-action="Index">Artistas</a></li>
                <li><a class="nav-link scrollto" asp-area="" asp-controller="Albumes" asp-action="Index">Albumes</a></li>
                <li><a class="nav-link scrollto" asp-area="" asp-controller="Festivals" asp-action="Index">Festivales</a></li>
                <li><a class="nav-link scrollto" asp-area="" asp-controller="Giras" asp-action="Index">Giras</a></li>
                <li class="dropdown">
                    <a href="about"><span>RANKINGS</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li class="dropdown">
                            <a href="#"><span>#TOP20 SEMANAL</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">TOP SEMANAL</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#"><span>#TOP50 MENSUAL</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">TOP MENSUAL</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#"><span>#TOP100 ANUAL</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">TOP ANUAL</a></li>
                            </ul>
                        </li>
                    </ul>
                <li><a style="color: #ffffff">|</a></li>
                <li><a class="nav-link scrollto" href="#contact">Crear cuenta</a></li>
                <li><a class="nav-link scrollto" href="#team">Iniciar sesión</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</div>
