@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section id="pricing" class="pricing" style="background-color: black;">
    <div class="container">
        <div class="section-title3" data-aos="zoom-in">
            <img src="https://i.ibb.co/dB5Xx1c/hiberus-vector.png" class="testimonial-img" width="70" height="70">
            <h1>Hiberify PREMIUM</h1>
            <p>¿Aún no estás suscrito? Héchale un vistazo a nuestros planes</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="box" data-aos="zoom-in" data-aos-delay="200">
                    <h3>Gratis</h3>
                    <h4><sup>$</sup>0<span> / mes</span></h4>
                    <ul>
                        <li>Acceso rankings</li>
                        <li class="na">Música sin anuncios</li>
                        <li class="na">Acceso rankings VIP</li>
                        <li class="na">Calidad música +</li>
                        <li class="na">Música sin conexión</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">Suscribirse</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                <div class="box recommended" data-aos="zoom-in" data-aos-delay="100">
                    <span class="recommended-badge">Más popular</span>
                    <h3>Premium</h3>
                    <h4><sup>$</sup>9.99<span> / mes</span></h4>
                    <ul>
                        <li>Acceso rankings</li>
                        <li>Música sin anuncios</li>
                        <li>Acceso rankings VIP</li>
                        <li>Calidad música +</li>
                        <li class="na">Música sin conexión</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">Suscribirse</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                <div class="box" data-aos="zoom-in" data-aos-delay="200">
                    <h3>Premium++</h3>
                    <h4><sup>$</sup>13.99<span> / mes</span></h4>
                    <ul>
                        <li>Acceso rankings</li>
                        <li>Música sin anuncios</li>
                        <li>Acceso rankings VIP</li>
                        <li>Calidad música +</li>
                        <li>Música sin conexión</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">Suscribirse</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>